<table class="table table-hover table-striped well">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created</th>
        <th>Status</th>
        <th>Tasks</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% projects.each do |project| %>
      <% @ratio = project.todos.group(:status).count %>
        <tr>
          <td><%= link_to project do %><%= fa_icon 'eye' %><%= project.name %><% end %></td>
          <td class="col-md-6" align="justify"><%= project.Description %></td>
          <td><%= project.created_at.strftime(" %I:%M%p on %m/%d/%Y")  %></td>

          <% if @ratio[true] &&  (@ratio[true] == project.todos.count) %>
              <td>Completed</td>
          <% else %>
               <td>Still in progress</td>
          <%end%>
          <td><%= project.todos.count =%></td>
          <td><%= link_to edit_project_path(project),  :remote => true do %><%= fa_icon 'pencil-square-o' %><% end %></td>
          <td><%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon 'trash-o' %><% end %></td>
        </tr>
      <% end %>
    </tbody>
</table>
