<table class="table table-bordered hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created</th>
        <th>Status</th>
        <th>Number of Tasks</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %></td>
          <td><%= project.Description %></td>
          <td><%= project.created_at.strftime(" %I:%M%p on %m/%d/%Y")  %></td>
          <td>On going</td>
          <td class="text-right">30</td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>