<script type="text/javascript">

$(function (){ 

    $(".projectView").on("mouseenter", function(){
      $(this).css('cursor','pointer');
        var row = $(this)[0].children[0].innerHTML;
        var rowText = $(this)[0].children[3].innerHTML;
        $('.showDescription').find('#headerText').val("");
        $('.showDescription').find('#bodyText').val("");
        $('.showDescription').find('#headerText').text(row);
        $('.showDescription').find('#bodyText').text(rowText);
    })


});

</script>
<div class="col-md-8 well">
<!-- <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created</th>
        <th>Status</th>
        <th>Tasks</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% projects.each do |project| %>
      <% @ratio = project.todos.group(:status).count %>
        <tr>
          <td><%= project.name %></td>
          <td class="col-md-6 hider" align="justify"><%= project.Description %></td>
          <td><%= project.created_at.strftime(" %I:%M%p on %m/%d/%Y")  %></td>

          <% if @ratio[true] &&  (@ratio[true] == project.todos.count) %>
              <td>Completed</td>
          <% else %>
               <td>Still in progress</td>
          <%end%>
          <td><%= project.todos.count =%></td>
          <td><%= link_to project do %><%= fa_icon 'television' %><% end %></td>
          <td><%= link_to edit_project_path(project),  :remote => true do %><%= fa_icon 'pencil-square-o' %><% end %></td>
          <td><%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon 'trash-o' %><% end %></td>
        </tr>
      <% end %>
    </tbody>
</table> -->
    <% projects.each do |project| %>
      <% @ratio = project.todos.group(:status).count %>
        <div class="projectView col-md-4">
          <u class="text-center"><%= project.name %></u></br>
          Crceated: <%= project.created_at.strftime("%m/%d/%Y")  %></br>
          <div style="display: none" align="justify"><%= project.Description %></div>
          Status: <% if @ratio[true] &&  (@ratio[true] == project.todos.count) %>
              <td>Completed</td>
          <% else %>
               <td>In progress</td>
          <%end%>
          <div class="moveBottom">
            <span class="fa-stack"><i class="fa fa-file-o fa-stack-2x"></i>
              <strong class="fa-stack-1x fa-stack-text file-text"><%= project.todos.count =%></strong>
            </span>
          </div>
          <div class="moveIconBottom">
            <div class="col-sm-4"><%= link_to project do %><%= fa_icon 'television color' %><% end %></div>
            <div class="col-sm-4"><%= link_to edit_project_path(project),  :remote => true do %><%= fa_icon 'pencil-square-o color' %><% end %></div>
            <div class="col-sm-4"><%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon 'trash-o color' %><% end %></div>
          </div>
        </div>
      <% end %>
</div>