<script type="text/javascript">

$(function (){ 
  $(document).on("change", 'input[type=checkbox]', function(){
    var rowId = $(this).closest("tr").find("td")[1].innerText
    var isChecked = $(this)[0].checked
    $.ajax({
            url: '/projects/updateStatus ',
            type: 'POST',
            data: { "rowId": rowId, "isChecked": isChecked },

    });
  });

});

</script>

<p id="notice"><%= notice %></p>


<div class="row row-eq-height">
	<div class="col-xs-6 col-md-6 well "> 
		<div class="hero-unit parent">
		    <h4 class="text-center"><u>Project Name : <%= @project.name %></u></h4>
		    <div class="textPaper">
		    	 <p ><%= @project.Description %></p>		    	
		    </div>
		   
	  	</div>
	</div>
  <div class="col-xs-6 col-md-6 well">
		<h4 class="text-center">Add task</h4>
		<%= form_for([@project, @project.todos.build], remote: true) do |f| %>
		  <p>
		    <%= f.text_field :title, :required => true, autofocus: true, placeholder: 'Title', class: 'form-control', :size=>"64"%>
		  </p>
		  <p>
		    <%= f.text_area :description, cols: "65", rows: "10", placeholder: 'Description', class: 'form-control'%>
		  </p>
		  <p>
		    <%= f.check_box :status , :style => 'visibility: hidden'%>
		  </p>
		  <p>
		    <%= button_tag(:type => 'submit', :class => 'btn btn-primary btn-xs submit pull-right', remote: true) do %>Submit<% end %>
		  </p>
		<% end %>
	</div>
  

</div>

<div class="row">
	

	<div class=" well creatjs">
          <%= render :partial => 'todos/listTodos', :locals => { :project => @project } %>
	</div>

</div>

