<h4 class="text-center">Logged task (<%= project.todos.count =%>)</h4>
<% if project.todos.count == 0 %>

<p class="text-centre">No task added yet</p>

<% else %>
  <% @ratio = project.todos.group(:status).count %>
  <div class="row">
    <div class="col-md-6">
      <h6 class="text-center">Completed:  <%= @ratio[true] ? @ratio[true] : "None" %></h6>
    </div>

    <div class="col-md-6">
      <h6 class="text-center">Outstanding:  <%= @ratio[false] ? @ratio[false] : "None" %></h6>
    </div>
  </div>


  <table class="table table-bordered hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Completed ?</th>
      </tr>
    </thead>


    <tbody>
      <% project.todos(true).reverse_each do |todo| %>
        <tr class="<%= todo.status ? 'adminUser' : 'normalUser' %>">
          <td><%= todo.title %></td>
          <td><%= todo.description %></td>
          <td><%= check_box_tag "Change Status", todo.title, todo.status -%></td>
        </tr>
      <% end %>
    </tbody>
</table>


<% end %>
